@font-face {
    font-family: "PT Root UI";
    font-weight: 400;
    src:
        url("../fonts/PT-Root-UI_Regular.woff2") format("woff2"),
        url("../fonts/PT-Root-UI_Regular.woff") format("woff");
}

@font-face {
    font-family: "PT Root UI";
    font-weight: 700;
    src:
        url("../fonts/PT-Root-UI_Bold.woff2") format("woff2"),
        url("../fonts/PT-Root-UI_Bold.woff") format("woff");
}

@font-face {
    font-family: "PT Root UI";
    font-weight: 600;
    src:
        url("../fonts/PT-Root-UI_Medium.woff2") format("woff2"),
        url("../fonts/PT-Root-UI_Medium.woff") format("woff");
}

@font-face {
    font-family: "PT Root UI";
    font-weight: 300;
    src:
        url("../fonts/PT-Root-UI_Light.woff2") format("woff2"),
        url("../fonts/PT-Root-UI_Light.woff") format("woff");
}
