* {
    box-sizing: border-box;
}

html {
    height: 100dvh;
    overflow: hidden;
}

body {
    background-color: #111;
    color: #fff;
    font-family: "Suisse Intl", sans-serif;
    height: 100dvh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.header,
.fab {
    position: fixed;
    z-index: 10;
    height: 72px;
    padding: 16px;
    width: calc(100vw - 24px);
    max-width: 426px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.35);
    border-radius: 36px;
    backdrop-filter: blur(30px);
    outline: 1px solid rgba(255, 255, 255, 0.5);
}

.header {
    top: 12px;
    left: 12px;
    transition: all ease 300ms;
}

.fab {
    left: 12px;
    bottom: 12px;
    text-align: center;
}

.container {
    width: 100vw;
    max-width: 450px;
    margin: 0 auto;
}

.slide {
    background-color: #333;
    width: 100%;
    height: 100dvh;
    scroll-snap-align: start;
    border-radius: 48px;
    padding: 96px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

.slide h2 {
    font-family: "Cy Grotesk", sans-serif;
    font-size: 32px;
    line-height: 32px;
}

.slide p {
    font-size: 20px;
}

.slide img {
    margin-bottom: 48px;
}

.slide h2,
.slide p {
    opacity: 1;
    transition: opacity 300ms ease;
}

.icon {
    height: 40px;
    width: 40px;
    padding: 2px;
}

#header-contents {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
}

#menu-burger {
    display: none;
    margin: 24px 0;
    flex-direction: column;
}

#menu-burger.open {
    display: flex;
}

#menu-burger a {
    font-size: 28px;
    text-decoration: none;
    margin: 8px 0;
    color: #fff;
}

#menu-burger p {
    font-size: 16px;
}

#menu-burger div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6px;
    width: 100%;
    margin-top: 12px;
}

.header.open {
    height: calc(100dvh - 24px);
    background-color: #111;
    outline: 8px solid #111;
}

.fab.open {
    display: none;
}

.container.open h2,
.container.open p {
    opacity: 0;
}

.fab p {
    color: #fff;
    font-size: 20px;
    margin-top: 9px;
}

.fab:active,
.icon:active,
a:active {
    opacity: 0.6;
}

a:hover {
    text-decoration: underline !important;
}

#order-form {
    background-color: #222;
    padding: 4px 8px;
    border-radius: 24px;
}

#order-form input {
    background-color: #333;
    border: none;
    padding: 6px 10px;
    border-radius: 16px;
    height: 48px;
    color: #fff;
    font-size: 20px;
    width: 100%;
    font-family: "Suisse Intl", sans-serif;
    margin: 4px 0;
}
